.form {
/* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 172, 172);
}

.form input {
    
    width: 250px;
    height: 25px;
    margin: 5px;
    font-size: 15px;
}

.card {
    margin-top: 36px;
    background-color: rgb(112, 202, 124);
    padding: 20px;
    width: 400px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 15%;
}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 5%;
    height: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(156, 228, 162);
    
}

.input {
    min-height: 30px;
    min-width: 15%;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}


