form {
  padding: 40px;
  margin-top: 30px;
  background-color: rgb(223, 219, 219);
}

.input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.card {
  margin-top: 36px;
  background-color: rgb(112, 202, 124);
  padding: 20px;
  width: 400px;
  height: 350px;
  border: 2px solid rgba(255, 255, 255, 0.514);
  border-radius: 15%;
}

.btnGreen {
  border: none;
  padding: 16px 32px;
  background-color: rgba(81, 112, 18, 0.548);
  width: 50%;
}

/* 
#updateInput {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
} */

/* .btn {
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 5%;
    height: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(156, 228, 162);
    
} */

/* .input {
  min-height: 30px;
  min-width: 15%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.363);
} */
