h2 {
  color: rgb(67, 83, 43);
  margin-top: 50px;
}

.tableView {
  background-color: white;
  border-collapse: collapse;
  margin: 35px 0;
  font-size: 0.9em;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.tableView thead tr {
  background-color: rgb(81, 112, 18);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.tableView th,
.tableView td {
  padding: 15px 20px;
  text-align: left;
}

.tableView tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tableView tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tableView tbody tr:last-of-type {
  border-bottom: 2px solid rgb(81, 112, 18);
}

.addNewBtn {
  margin: 15px;
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 7px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnEdit {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(89, 185, 105);
}

.btnRed {
  cursor: pointer;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  background-color: tomato;
}