@import url('http://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Lato';
  margin: 0;
  min-width: 375px;
  text-align: center;
}

.container {
  background-color: rgba(61, 61, 61, 0.082);
  width: 100%;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}